<div class="form-group">
  <label for="password">ADMIN PASSWORD</label>
  <input type="password" id="password" name="password" />
</div>
<div class="error" role="alert">
  <%= typeof error !== 'undefined' ? error : ''%>
</div>
