<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= title%></title>
  </head>
  <body>
    <header class="header">
      <h1 class="title"><a href="/catalog"><%= title%></a></h1>
      <nav class="nav">
        <ul>
          <li><a href="/catalog">Inventory</a></li>
          <li><a href="/catalog/items">Products</a></li>
          <li><a href="/catalog/categories">Categories</a></li>
          <li><a href="/catalog/brands">Brands</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
