<%- include('./partials/layout')%> 

<h2 class="page-header">Product Brands</h2>

<main>
<ul class="brand-list">
  <li>
    <a href="brand/create">+ New Brand</a>
  </li>

  <% for(brand of brands) { %> 
    <li>
      <a href=<%= brand.url%> >
        <%= brand.name%> %> 
      </a>
    </li>
    <% } %> 
</ul>
</main>
</body>
</html>