<%- include('./partials/layout') %> 

<h2 class="page-header">Inventory</h2>

<ul class="inventory-list">
  <li>
    <strong>Category</strong>
    <strong>Product</strong> 
    <strong>Price</strong>
    <strong>Qty</strong>
  </li>
  <% for(category of categories) { %> 
    <li>
      <span><%=category.name %></span>
      <select name="product" class="item-select">
        <option value="0-0">Choose a product</option>
        <% for(item of items) { %> 
          <% if(item.category.name === category.name) { %> 
            <option value=<%=`${item.price}-${item.stock}`%> ><%=item.name %> </option>
            <% } %> 
          <% } %> 
      </select>
      <span class="item-price">$0</span>
      <input type="number" class="item-qty" value="0" min="0" max="0">
    </li>
    <button class="btn-add">+</button> 
    <hr>
    <% } %> 
  <li>
    <div class="total">Total:</div>
    <div class="total-price"></div>
  </li>
</ul>

<script src="javascripts/inventory.js"></script>
</body>
</html>
