:root {
  --color-white: #e8e8e8;
  /* --color-link: #4f8efb; */
  --color-link: #ffcc20;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  font: 1.6rem 'Lucida Grande', Helvetica, Arial, sans-serif;
}
body,
input,
select,
textarea {
  color: var(--color-white);
  background-color: #1e1e1e;
}

a:link,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  text-decoration: underline;
}

ul {
  width: 70%;
  margin: 0 auto;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
}

.header a {
  color: var(--color-white);
}

.title {
  margin: 1rem 0;
  font-size: clamp(2rem, 5vw, 3.2rem);
}

.menu-bar {
  display: none;
}

.menu-bar {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-white);
}

.nav ul {
  display: flex;
  gap: 1rem;
}

.page-header {
  text-align: center;
  margin: 3rem 0;
}

.inventory-list {
  width: 70%;
  margin: 0 auto;
}

.list-headers {
  border-bottom: 2px solid var(--color-white);
}

.list-headers * {
  font-weight: bolder;
}

.inventory-list li {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.2fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.inventory-list button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  font-weight: bolder;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-remove {
  color: #ff5a5a;
}

.btn-add {
  color: #5aff5a;
}

.item-select {
  font-size: inherit;
}

.item-qty {
  width: 5rem;
}

.total {
  grid-column: 2;
  justify-self: end;
  font-weight: bolder;
}

.total-price {
  grid-column: 3;
  font-weight: bolder;
}

/* Product catalog page */

.add-product {
  position: relative;
  left: 50%;
  display: inline-block;
  transform: translate(-50%);
  margin-bottom: 3rem;
}

.product-list {
  width: 70%;
  margin: 0 auto;
}

.product-list li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.product-info {
  padding: 1rem 0;
}

/* Category list, brand list */

.category-list,
.brand-list {
  width: 50%;
}

.category-list li,
.brand-list li {
  font-size: 2rem;
  padding: 1rem 0;
}

.category-list a,
.brand-list a {
  display: inline-block;
  width: 100%;
}

.category-list a:hover,
.brand-list a:hover {
  text-decoration: underline;
}

/* Product details page */

.product-detail {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 15vw;
  background-color: #333;
  margin: 0 auto;
}

.img-container span {
  color: var(--color-link);
  font-size: 5vw;
}

.item-image {
  width: 100%;
}

.item-description {
  margin: 2rem 0;
}

.info-list {
  width: 100%;
  text-align: left;
}

.info-list li {
  display: flex;
  justify-content: space-between;
}

.info-list li span:first-child {
  font-size: 2rem;
  font-weight: bolder;
}

/* Category details page */

.category-detail li {
  grid-template-columns: repeat(3, 1fr);
}

.category-available {
  text-align: center;
  margin: 2rem 0;
}

.category-description {
  text-transform: capitalize;
}

/* Brand details page */

.brand-available {
  text-align: center;
  margin: 2rem 0;
}

/* New product page */

.new-product {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  display: block;
}

@media (max-width: 768px) {
  .nav-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .menu-bar {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav.active {
    position: absolute;
    top: 3rem;
    left: -3rem;
    display: block;
    background-color: #999;
  }

  .nav.active ul {
    flex-direction: column;
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .inventory-list,
  .product-list,
  .category-list {
    width: 95%;
  }
}
