:root {
  --color-white: #e8e8e8;
  --color-link: #ffcc20;
  --color-highlight: #cddc39;
  --color-danger: #e91e63;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body,
input,
select,
textarea {
  color: var(--color-white);
  font-family: inherit;
  background-color: #1e1e1e;
}

body {
  min-height: 100vh;
  font: 1.6rem 'Lucida Grande', Helvetica, Arial, sans-serif;
  padding-bottom: 5rem;
}

a:link,
a:visited {
  color: var(--color-link);
  text-decoration: none;
}

a:link:hover,
a:visited:hover {
  text-decoration: underline;
}

ul {
  width: 70%;
  margin: 0 auto;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
}

.header a {
  display: block;
  color: var(--color-white);
}

.header a:hover {
  text-decoration: none;
}

.title a::first-letter,
.title-highlight {
  color: var(--color-link);
}

.title {
  margin: 1rem 0;
  font-size: clamp(2.4rem, 5vw, 3.2rem);
}

.menu-bar {
  display: none;
}

.menu-bar {
  width: 2rem;
  height: 0.2rem;
  background-color: var(--color-white);
}

.nav ul {
  display: flex;
  gap: 1rem;
  margin: 0;
}

.nav:not(.active) a {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
}

.nav:not(.active) .active-page {
  border-bottom: 2px solid var(--color-link);
}

.page-header {
  text-align: center;
  text-transform: capitalize;
  margin: 3rem 0;
}

.main-container {
  text-align: center;
}

.inventory-list {
  width: 70%;
  margin: 0 auto;
}

.list-headers {
  padding: 1rem 0;
  border-bottom: 2px solid var(--color-white);
  font-weight: bolder;
}

.inventory-list li {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.2fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
}

.inventory-list button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: bolder;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn-remove {
  height: 2rem;
  color: var(--color-danger);
}

.btn-add {
  color: #5aff5a;
}

.item-select {
  font-size: clamp(1rem, 2vw, 1.6rem);
  border-color: var(--color-link);
}

.item-qty {
  width: 5rem;
  border-color: var(--color-link);
}

.total {
  grid-column: 2;
  justify-self: end;
  font-weight: bolder;
}

.total-price {
  grid-column: 3;
  font-weight: bolder;
}

/* Product catalog page */

.add-product {
  display: inline-block;
  margin-bottom: 3rem;
}

.product-list {
  width: 70%;
  margin: 0 auto;
}

.product-list li {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
}

.product-info {
  padding: 1rem 0;
}

.product-info a {
  text-transform: capitalize;
}

/* Category list, brand list */

.category-list,
.brand-list {
  width: 50%;
}

.category-list li,
.brand-list li {
  font-size: 2rem;
  padding: 1rem 0;
}

.category-list a,
.brand-list a {
  display: inline-block;
  width: 100%;
  text-transform: capitalize;
}

.category-list a:hover,
.brand-list a:hover {
  text-decoration: underline;
}

/* Product details page */

.product-detail {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 15vw;
  background-color: #333;
  margin: 0 auto;
}

.img-container span {
  color: var(--color-link);
  font-size: 5vw;
}

.item-image {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.item-description {
  margin: 2rem 0;
}

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  text-align: left;
}

.info-list li {
  display: flex;
  justify-content: space-between;
}

.info-list li span:first-child {
  font-size: 2rem;
  font-weight: bolder;
}

/* Category details page */

.category-detail li {
  grid-template-columns: repeat(3, 1fr);
}

.availability {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
}

.category-description {
  text-transform: capitalize;
}

.category-detail button {
  display: block;
  margin: 2rem auto 0;
}

/* New product page */

.form-main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  margin: 0 auto;
}

.form-main * {
  font-size: 2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--color-highlight);
  resize: vertical;
}

.form-group label {
  color: var(--color-highlight);
}

.form-group-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.sub-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.price-input {
  display: flex;
  align-items: center;
  flex: 1;
  border: 1px solid var(--color-highlight);
}

.price-input input {
  flex: 1;
  border: none;
  outline: none;
}

.form-main button {
  margin: 0;
}

.btn-primary.btn-submit,
.btn-primary.btn-delete {
  padding: 0.5rem;
}

.error {
  width: max-content;
  color: orangered;
}

/* Delete Entries */

.delete-container {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}

.confirmation {
  margin: 2rem 0;
}

.btn-primary {
  width: 100%;
  color: #000;
  font-size: 2rem;
  font-family: inherit;
  font-weight: bolder;
  background-color: var(--color-danger);
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}

.btn-update {
  background-color: var(--color-link);
}

.btn-cancel {
  background-color: var(--color-highlight);
}

.btn-primary a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: inherit;
  padding: 0.5rem;
}

.btn-primary a:hover {
  text-decoration: none;
}

.btn-primary:hover {
  opacity: 0.5;
}

/* Delete Category */

.products {
  width: max-content;
  margin: 2rem auto;
}

.products a {
  text-transform: capitalize;
}

@media (max-width: 768px) {
  .nav-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
  }

  .menu-bar {
    display: block;
  }

  .nav {
    display: none;
  }

  .nav.active {
    position: absolute;
    top: 3rem;
    left: -8rem;
    display: block;
    background-color: #333;
    border: 1px solid var(--color-link);
    box-shadow: 0 0 0.5rem var(--color-link);
  }

  .nav.active ul {
    flex-direction: column;
    width: 100%;
    padding: 1.5rem;
  }

  .nav.active a:not(.active-page):hover {
    transform: translate(1rem);
  }

  .nav.active .active-page {
    transform: translate(1rem);
  }

  .img-container {
    width: 40vw;
    height: 30vw;
  }
}

@media (max-width: 600px) {
  .inventory-list,
  .product-list,
  .category-list,
  .brand-list {
    width: 95%;
  }

  .form-main {
    width: 70%;
  }

  .product-detail {
    max-width: 80%;
  }
}
